html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Menonaktifkan scroll pada body */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8); /* Latar belakang form yang lebih cerah */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90vw;
    max-height: 85vh; /* Ubah tinggi maksimum agar footer terlihat */
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #000; /* Mengubah warna teks h2 menjadi hitam */
}

canvas {
    border: 2px dashed #000000;
    border-radius: 10px;
    background: #fff;
    cursor: crosshair;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 200%;
    max-height: 90vh;
    margin-bottom: 20px; /* Menambahkan jarak bawah pada canvas */
}

.button-group {
    margin-top: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #2575fc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

button:hover {
    background-color: #0c3d8d;
}

button:active {
    background-color: #185bb4;
}

input {
    width: 25rem;
    padding: 10px;
    border: 2px solid #000000; /* Border input */
    border-radius: 5px;
    font-size: 16px;
    color: #333; /* Teks input */
    background: #fff; /* Latar belakang input */
    box-sizing: border-box; /* Memastikan padding dimasukkan dalam ukuran total elemen */
    margin-top: 10px; /* Jarak atas untuk input */
}

input::placeholder {
    color: #aaa; /* Warna placeholder */
}

input:focus {
    border-color: #0056b3; /* Warna border saat fokus */
    outline: none; /* Menghilangkan outline default pada fokus */
}

footer {
    margin-top: 30px; /* Mengatur footer tetap di bawah */
    padding: 10px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}


